<% content_for :header do %>Borrower - <%= @borrower.firstname %> <%= @borrower.lastname %><% end %>
<p>
	<h3>Step 1: Affiliation(s)</h3>
	<% @borrower.affiliations.each do |aff| %>
	  <%= aff.name %><br />
	<% end %>
</p>	
<p>
	<h3>Step 2: Registration Form</h3>
	First Name: <%= @borrower.firstname %><br />
    <%= @borrower.middlename.blank? ? '' : "Middle Name: #{@borrower.middlename}<br />" %>
    Last Name: <%= @borrower.lastname %><br />
	Address 1: <%= @borrower.address_1 %><br />
	<%= @borrower.address_2.blank? ? '' : "Address 2: #{@borrower.address_2}<br />" %>
	City: <%= @borrower.city %><br />
	State: <%= @borrower.state %><br />
	Zip: <%= @borrower.zip %><br />
	Country: <%= @borrower.country %><br /><br />
    Email: <%= @borrower.email %><br />
	Phone: <%= @borrower.phone %><br />
	Date of Birth: <%= @borrower.dob %>
</p>
<p>
	<h3>Step 3: Collection(s)</h3>
	<% @borrower.collections.each do |coll| %>
	  <%= coll.name %><br />
	<% end %>
</p>
<p>
	<h3>Step 4: Comments or Questions</h3>
	<%= @borrower.other %><br />
</p>
<p>
	<h3>Administrative</h3>
	Event Association: <%= @borrower.event.name %><br />
	Start Date: <%= @borrower.start_date.strftime("%m/%d/%Y") %><br />
	End Date: <%= @borrower.end_date.strftime("%m/%d/%Y") %><br /><br />
	Card Type(s):<br />
	<% @borrower.card_types.each do |card| %>
	  <%= card.name %><br />
	<% end %>
    <br />
</p>	


<%= link_to 'Edit', edit_borrower_path(@borrower) %> |
<%= link_to 'Back', borrowers_path %>
