<% content_for :header do %>Flow Chart<% end %>
<div class="nodes collection-list">
  <% unless @firsts.blank? %>
	<% unless @firsts.length == 1 %>
	  <h2>Choose a question to begin:</h2>
	<% else %>
	  <h2>Begin:</h2>
	<% end %>
	<p>
	  <% @firsts.each do |node| %>
	    <%= node.text %>
		<%= link_to('Go', node_path(node)) %>
		<br />
	  <% end %>
	</p>
  <% else %>
	<h2>No nodes yet.</h2>
  <% end %> 
</div>		

<% if current_user.try(:admin?) %>
  <h2 class="collapsable node_list">View All Nodes</h2>
  <div class="node_list node_list-target">
	<% unless @nodes.blank? %>
		<p>
		  <% @nodes.each do |node| %>
		    <%= node.text %>
			<%= link_to('View', node_path(node)) %>
			<% if current_user.try(:admin?) %>
			  <%= link_to('Edit', edit_node_path(node)) %>
			  <%= link_to 'Destroy', node, confirm: 'Are you sure?', method: :delete %>
			<% end %>
			<br />
		  <% end %>
		</p>
	  <% else %>
		<h2>No nodes yet.</h2>
	  <% end %>
	  <p>
	    <%= link_to('New Node', new_node_path) %>
	  </p>
  </div>
	
  <h2 class="collapsable node_upload">Node Upload via CSV</h2>
  <div class="node_upload node_upload-target">
    <p>
      Use the form below to import nodes via a CSV (comma separated value) file. Do not use column headings or quotes around text in any field. Each row will be separated by a new line or carriage return.
    </p>
    <p>
      These are the fields to be populated:
	  <ul>
		<li>node</li>
	  </ul>
    </p>
    <p>
	  e.g. node
    </p>

    <%= form_tag import_nodes_path, :multipart => true do -%>
      <%= file_field 'upload', 'datafile' %></p>
	  <%= submit_tag "Upload CSV", :disable_with => 'Uploading...' %>
    <% end -%>
  </div>	
<% end %>

