<!DOCTYPE html>
<html>
<head>
  <title>Privileges</title>
  <%= stylesheet_link_tag    "styles", :media => "all" %>
  <%= stylesheet_link_tag 'application' %>
  <!--[if IE 6]><%= stylesheet_link_tag 'ie6' %><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag 'ie7' %><![endif]-->
  <%= javascript_include_tag "application", "jquery", "jquery-1.5.1.min", "jquery-ui-1.8.14.custom.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body <%= yield :body %>>
  <div id="header">
    <div id="utility">
      <% if user_signed_in? %>
        Signed in as <%= current_user.email %>. Not you?
        <%= link_to "Sign out", destroy_user_session_url, :method => :delete %> or <%= link_to "edit account", edit_user_registration_path(current_user) %>
      <% else %>
		<%= link_to "Sign In", new_user_session_path %>
	  <% end %>
	  <% if current_user.try(:admin?) %>
	    <br /><br />
	    <%= form_tag search_index_url, :method => 'get' do %>
	      <%= text_field_tag :search, params[:search] %>
		  <%= submit_tag "Search", :name => nil %>
	    <% end %> 
	  <% end %> 
    </div>

    <div id="logo">
      <span>
        <a href="/" title="Privileges" id="home-logo">Privileges</a>
      </span>
    </div>
  </div>

  <div id="container">
	<div id="user-dashboard">
	   <h3>User Options</h3>
		<ul>
			<% if current_user.try(:admin?) %>
			  <li><%= link_to "View All Nodes", nodes_path %></li>
			  <li><%= link_to "View All Events", events_path %></li>
			  <li><%= link_to "View All General Borrowers", borrowers_path %></li>
			  <li><%= link_to "View All Borrower Card Types", card_types_path %></li>
			<% elsif user_signed_in? %>
			  <li><%= link_to "View Your Events", events_path %></li>
			<% else %>
			  <li><%= link_to "Begin Privileges Form", nodes_path %></li>
			<% end %>
		</ul>
	</div>
	  
    <h1 id="content-header">
      <% if content_for? :header %>
       <%= yield :header %>
      <% else %>
        Privileges
      <% end %>
    </h1>

	  <% flash.each do |key, msg| %>
	    <%= content_tag :div, msg, :class => [key], :id => "notice_#{key}" %>
	  <% end %>

    <% if content_for? :content_left %>
		<div id="content-left">  
        <%= yield :content_left %>
	    </div>	
    <% end %>

    <div id="content-right">
      <%= yield %>
    </div>

    <div class="clear"></div>
  </div>

  <div id="footer">

  </div>

</body>
</html>
